.starter-heading { 
	color: rgb( 0, 232, 225);
	font-size: 80px; 
	font-family: sans-serif;
	background: rgb(0, 0,0);
	text-shadow: 5px 5px 1px blue;
	border-top: 5px solid yellow;
	border-bottom: 5px solid yellow;
	width: 100%;
	height: 100%;
	}

.name-text-box {
      width: 37vh;
    height: 50px;
    margin: 10px;
    outline: none;
     font-size: 32px;
     background: #f2f2f2;
     border-radius: 20px;
}

.email-text-box {
      width: 37vh;
    height: 50px;
    margin: 10px;
    outline: none;
     font-size: 32px;
     background: #f2f2f2;
     border-radius: 20px;
}

.message-textarea {
      width: 37vh;
    height: 90px;
    margin: 10px;
    outline: none;
     font-size: 32px;
     background: #f2f2f2;
     border-radius: 20px;
}

.name-label {
    font-size: 56px;
    color: Black;
}

.email-label {
    font-size: 56px;
    color: Black;
}

.message-label {
    font-size: 56px;
    color: Black;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
background: white;
display: flex;
flex-direction: column;
width: 70%;
height: 55%;
border-radius: 20px;
}

button {
    position: absolute;
 	top: 80%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	width: 60%;
 	height: 8%;
 	text-align: center;
 	line-height: 60px;
 	color: #fff;
 	font-size: 56px;
 	text-transform: uppercase;
 	text-decoration: none;
 	font-family: sans-serif;
 	box-sizing: border-box;
 	background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
 	background-size: 400%;
 	border-radius: 90px;
 	z-index: 1; 
     border: none;
}

.send:hover {
    animation: animate 8s linear infinite;
   }
   @keyframes animate {
    0% {
     background-position: 0%;
    }
    100% {
     background-position: 400%;
    }
   }
   .send:before {
content: '';
position: absolute;
top: -5px;
bottom: -5px;
right: -5px;
left: -5px;
z-index: -1;
background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
background-size: 400%;
border-radius: 24x
filter: blur(20px);
opacity: 0;
transition: 0.5s;
}
.send:hover:before {
filter: blur(20px);
opacity: 1;
animation: animate 8s linear infinite;
}

